<div class="display">
  {{#each books}}
  <div class="profile">
    <a href="/books/details/{{this.id}}"><p>{{this.book_name}}</p></a>
    <p>{{this.genreName}}</p>
    <p>{{this.book_description}}</p>
    <img class="cover" src="{{this.cover_url}}">
    <a href="/books/delete/{{this.id}}"><i class="fa fa-remove"></i></a>
    <a href="/books/edit/{{this.id}}"><button type="button">Edit Book</button></a>
    {{#each authors}}
    <a href="/authors/details/{{this.authorId}}"><p>{{this.first_name}} {{this.last_name}}</p></a>
    {{/each}}
  </div>
  {{/each}}
</div>
<footer>
  <a href="/books/new"><button type="button">Add a Book</button></a>
</footer>
