<ul>
  {{#each books}}
  <div>
    <p>{{this.bookName}}</p>
    <p>{{this.genreName}}</p>
    <p>{{this.book_description}}</p>
    <img class="cover" src="{{this.cover_url}}">
    <a href="/books/delete/{{this.id}}"><i class="fa fa-remove"></i></a>
    <a href="/books/edit/{{this.id}}"><button type="button">Edit Book</button></a>
  </div>
  {{/each}}
</ul>
