  {{#each author}}
  <div>
    <p>{{this.first_name}}</p>
    <p>{{this.last_name}}</p>
    <p>{{this.biography}}</p>
    <img class="portrait" src="{{this.portrait_url}}">
    <a href="/authors/delete/{{this.id}}"><i class="fa fa-remove"></i></a>
    <a href="/authors/edit/{{this.id}}"><button type="button">Edit Author</button></a>
  </div>
  {{/each}}
